

PruebaMenuMADU/.vs/DesktopAppMADU/v16/.suo
*.cache
PruebaMenuMADU/.vs/DesktopAppMADU/v16/.suo
PruebaMenuMADU/PruebaMenuMADU/bin/Debug/PruebaMenuMADU.exe
PruebaMenuMADU/PruebaMenuMADU/bin/Debug/PruebaMenuMADU.pdb
PruebaMenuMADU/PruebaMenuMADU/obj/Debug/DesignTimeResolveAssemblyReferences.cache
PruebaMenuMADU/PruebaMenuMADU/obj/Debug/PruebaMenuMADU.csprojAssemblyReference.cache
PruebaMenuMADU/PruebaMenuMADU/obj/Debug/PruebaMenuMADU.exe
PruebaMenuMADU/PruebaMenuMADU/obj/Debug/PruebaMenuMADU.pdb
